/* 웹폰트 사용범위 */
/*
WOFF >> 전체지원 (ie9부터 지원)
eot >> ie6~ie9 지원
*/

/* ------------------------------------------ 웹폰트 (Local) ------------------------------------------ */
/* Noto Sans */
@font-face {
	font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/font/NotoSansKR-Thin.woff2") format("woff2"),
		 url("/font/NotoSansKR-Thin.woff") format("woff"),
		 url("/font/NotoSansKR-Thin.ttf") format("truetype"),
		 url("/font/NotoSansKR-Thin.eot");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/font/NotoSansKR-Light.woff2") format("woff2"),
		 url("/font/NotoSansKR-Light.woff") format("woff"),
		 url("/font/NotoSansKR-Light.ttf") format("truetype"),
		 url("/font/NotoSansKR-Light.eot");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/NotoSansKR-Regular.woff2") format("woff2"),
		 url("/font/NotoSansKR-Regular.woff") format("woff"),
		 url("/font/NotoSansKR-Regular.ttf") format("truetype"),
		 url("/font/NotoSansKR-Regular.eot");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/font/NotoSansKR-Medium.woff2") format("woff2"),
		 url("/font/NotoSansKR-Medium.woff") format("woff"),
		 url("/font/NotoSansKR-Medium.ttf") format("truetype"),
		 url("/font/NotoSansKR-Medium.eot");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/font/NotoSansKR-Bold.woff2") format("woff2"),
		 url("/font/NotoSansKR-Bold.woff") format("woff"),
		 url("/font/NotoSansKR-Bold.ttf") format("truetype"),
		 url("/font/NotoSansKR-Bold.eot");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/font/NotoSansKR-Black.woff2") format("woff2"),
		 url("/font/NotoSansKR-Black.woff") format("woff"),
		 url("/font/NotoSansKR-Black.ttf") format("truetype"),
		 url("/font/NotoSansKR-Black.eot");
}
/* ------------------------------------------ //웹폰트 (Local) ------------------------------------------ */





/* ------------------------------------------ Material Icons (구글폰트아이콘) ------------------------------------------ */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"),
         local("MaterialIcons-Regular"),
		 url("/font/MaterialIcons-Regular.woff2") format("woff2"),
		 url("/font/MaterialIcons-Regular.woff") format("woff"),
		 url("/font/MaterialIcons-Regular.ttf") format("truetype"),
		 url("/font/MaterialIcons-Regular.eot");
}

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/font/material-icons-outlined.woff2") format("woff2"),
		 url("/font/material-icons-outlined.woff") format("woff");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(/font/material-symbols-outlined.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
	vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
	vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* ------------------------------------------ //Material Icons (구글폰트아이콘) ------------------------------------------ */
