@charset "UTF-8";



/* Grid Option */
.grid::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.grid .xs-1,
.grid .xs-2,
.grid .xs-3,
.grid .xs-4,
.grid .xs-5,
.grid .xs-6,
.grid .xs-7,
.grid .xs-8,
.grid .xs-9,
.grid .xs-10,
.grid .xs-11,
.grid .xs-12 {
    float: left;
}
.grid .xs-1 {width: 8.33333333%;}
.grid .xs-2 {width: 16.66666667%;}
.grid .xs-3 {width: 25%;}
.grid .xs-4 {width: 33.33333333%;}
.grid .xs-5 {width: 41.66666667%;}
.grid .xs-6 {width: 50%;}
.grid .xs-7 {width: 58.33333333%;}
.grid .xs-8 {width: 66.66666667%;}
.grid .xs-9 {width: 75%;}
.grid .xs-10 {width: 83.33333333%;}
.grid .xs-11 {width: 91.66666667%;}
.grid .xs-12 {width: 100%;}



/* Flex */
.flex {display: flex;}
.flex.justify {justify-content: space-between; align-items: baseline;}
.flex.center {justify-content: center;}
.flex.right {justify-content: flex-end;}
.flex.middle {align-items: center;}
.flex.bottom {align-items: flex-end;}
.flex.baseline {align-items: baseline;}

.flex.wrap {flex-wrap: wrap;}
.flex.wrap.col6 > * {width: calc(16.6% - 8px); margin: 0 10px 10px 0;}
.flex.wrap.col6 > *:nth-child(6n + 0) {margin-right: 0;}



/* Flex Stack */
.f-stack {display: flex; justify-content: space-between; align-items: center}



/* Horizontal Stack */
.h-stack,
.h-stack > a {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.h-stack > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.h-stack.top > div {vertical-align: top;}
.h-stack.bottom > div {vertical-align: bottom;}
.h-stack.left > div {text-align: left;}
.h-stack.right > div {text-align: right;}

.dl-stack dl {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.dl-stack dt,
.dl-stack dd {
    display: table-cell;
    vertical-align: middle;
}
.dl-stack dt {font-weight: bold;}



/* List Cell Area */
ul.cell-items {text-align: left; padding: 5px 10px 10px 10px;}
ul.cell-items li {display: inline-block; vertical-align: top; margin-top: 5px;}
ul.cell-items.col3 li {width: calc(33% - 5px);}
ul.cell-items.col4 li {width: calc(25% - 5px);}
ul.cell-items.col5 li {width: calc(20% - 5px);}
ul.cell-items.col6 li {width: calc(17% - 8px);}







/* Device 768↑ (sm - Small to medium tablet) */
@media only screen and (min-width: 768px) {
    
    /* Type */
	.sm-block {display: block;}
	.sm-hide {display: none;}

	

	/* Flex */
    .sm-flex {display: flex;}
    .sm-flex.justify {justify-content: space-between;}



    /* Grid Option */
	.grid .sm-1 {width: 8.33333333%;}
	.grid .sm-2 {width: 16.66666667%;}
	.grid .sm-3 {width: 25%;}
	.grid .sm-4 {width: 33.33333333%;}
	.grid .sm-5 {width: 41.66666667%;}
	.grid .sm-6 {width: 50%;}
	.grid .sm-7 {width: 58.33333333%;}
	.grid .sm-8 {width: 66.66666667%;}
	.grid .sm-9 {width: 75%;}
	.grid .sm-10 {width: 83.33333333%;}
	.grid .sm-11 {width: 91.66666667%;}
	.grid .sm-12 {width: 100%;}

}
/* //Device 768↑ */





/* Device 992↑ (md - Large tablet to laptop) */
@media only screen and (min-width: 992px) {

    /* Grid Option */
	.grid .md-1 {width: 8.33333333%;}
	.grid .md-2 {width: 16.66666667%;}
	.grid .md-3 {width: 25%;}
	.grid .md-4 {width: 33.33333333%;}
	.grid .md-5 {width: 41.66666667%;}
	.grid .md-6 {width: 50%;}
	.grid .md-7 {width: 58.33333333%;}
	.grid .md-8 {width: 66.66666667%;}
	.grid .md-9 {width: 75%;}
	.grid .md-10 {width: 83.33333333%;}
	.grid .md-11 {width: 91.66666667%;}
	.grid .md-12 {width: 100%;}



	/* Reset */
	.md-mt-30 {margin-top: 30px !important;}

}
/* //Device 992↑ */





/* Device 1280↑ (lg - Desktop) */
@media only screen and (min-width: 1280px) {

    /* Grid Option */
	.grid .lg-1 {width: 8.33333333%;}
	.grid .lg-2 {width: 16.66666667%;}
	.grid .lg-3 {width: 25%;}
	.grid .lg-4 {width: 33.33333333%;}
	.grid .lg-5 {width: 41.66666667%;}
	.grid .lg-6 {width: 50%;}
	.grid .lg-7 {width: 58.33333333%;}
	.grid .lg-8 {width: 66.66666667%;}
	.grid .lg-9 {width: 75%;}
	.grid .lg-10 {width: 83.33333333%;}
	.grid .lg-11 {width: 91.66666667%;}
	.grid .lg-12 {width: 100%;}

}
/* //Device 1280↑ */





/* Device 1400↑ */
@media only screen and (min-width: 1400px) {
    
    

}





/* Device 1600↑ */
@media only screen and (min-width: 1600px) {

}
/* //Device 1600↑ */





/* Device 1904↑ (xl - 4k and ultra-wide) */
@media only screen and (min-width: 1904px) {

    

}
/* //Device 1904↑ */











/* Device 768↓ (Mobile) */
@media only screen and (max-width: 767px) {
    
    /* Type */
	.xs-block {display: block;}
	.xs-hide {display: none;}

	.mw-br {display: block;}

}
/* //Device 768↓ */
