
/* --------------------------------------------------------- Common ------------------------------------------------------------------ */
/* Container */
#popup .container {padding: 20px 30px;}
/* #popup section.content {padding: 20px 30px;} */
/* --------------------------------------------------------- //Common ------------------------------------------------------------------ */
