/* ------------------------------------------ Common ------------------------------------------ */
/* Ready */
.page-ready {
    text-align: center;
    padding-top: 8rem;
}
.page-ready .ico {margin-bottom: 1rem;}
.page-ready .ico img {max-height: 165px;}
.page-ready .txt {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #9a9a9a;
}
.page-ready .txt.lg {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #333;
    margin-bottom: 8px;
}



/* Inner Contents Full Width */
.full-width {
    /*
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    */
    position: relative;
    left: -2rem;
    right: -2rem;
    width: calc(100% + 4.0rem);
    padding-left: 2rem;
    padding-right: 2rem;
}
.full-banner,
.full-img {
    position: relative;
    left: -1.5rem;
    right: -1.5rem;
    width: calc(100% + 3.0rem);
}



/* Title */
.content-tit {
    font-size: 1.6rem;
    margin: 2.5rem 0 8px;
}

.center-tit {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}
.center-tit2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}



/* Text */
/* .lead {} */



/* Card */
.card2 {
    font-size: 1.4rem;
    line-height: 2rem;
    background: #e0e7ed;
    border-radius: 10px;
    padding: 10px;
    word-break: keep-all;
}
.card2 .box {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.card2 .box.find {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    color: #0167f1;
}
.card2 .box.find p {font-size: 1.6rem}

.card2-tit {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 8px;
}



/* Border Radius */
.radius-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/* Section */
.title-card {
    background-color: rgba(212,218,222,0.4);
    border-radius: 20px;
    padding: 5px;
    min-height: 100px;
    position: relative;
    z-index: 2;
}
.title-card:not(:last-child) {
    margin-bottom: 35px;
}
.title-card.auto,
.title-card.auto .box {
    min-height: auto;
}
.title-card.auto .box {padding: 10px;}

.title-card.color2 .title {background-color: #ff202b;}
.title-card.color3 {background-color: #d4dade;}
.title-card.color3 .title {background-color: #049800;}
.title-card.color4 {background-color: #d4dade;}
.title-card.color4 .title {
    background-color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.title-card.color5 {background-color: #d4dade;}
.title-card.color5 .title {background-color: #333333;}

.title-card .title {
    position: absolute; left: 50%; top: -15px; z-index: 3;
    transform: translateX(-50%);
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background-color: #2035ff;
    border-radius: 50px;
    text-align: center;
    padding: 0 10px;
    min-width: 90px;
}
.title-card .box {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 10px 10px;
    min-height: 90px;
}
.title-card .box2 {
    display: flex;
    align-items: center;
    background-color: #eef0f2;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 5px;
}
.title-card .box2 .title-group  {
    flex: 0 0 60px;
    text-align: center;
    margin-right: 10px;
}
.title-card .box2 .title-group strong {
    font-size: 1.4rem;
    color: #3f4e63;
}
.title-card .box2 .label-card .txt {height: 3rem;}



/* 날씨 */
.weather-info .low,
.weather-week .low {
    color: #209eff;
}
.weather-info .high,
.weather-week .high {
    color: #ff202b;
}

.weather-info {
    display: flex;
    align-items: center;
}
.weather-info .icon {
    flex: 0 0 100px;
    text-align: center;
    margin-right: 10px;
}
.weather-info .icon img {height: 75px;}
.weather-info .text {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
}
.weather-info .text .temp-lg {font-size: 1.6rem;}
.weather-info .text .temp-lg strong {font-size: 2rem; font-weight: 700;}
.weather-info .text .flex {align-items: center;}
.weather-info .text .temp {margin-left: 8px;}
.weather-info .text .rain {margin-left: auto;}
.weather-info .text .rain img {height: 16px; vertical-align: middle;}
.weather-info .text .rain strong {color: #2035ff;}
.weather-info .text .sun-sea {margin-top:  1rem;}

.sun-sea {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0;
}
.sun-sea dl {
    display: flex;
    width: 50%;
}
.sun-sea dt,
.sun-sea dd {
    font-size: 1.4rem;
    line-height: 1.5rem;
}
.sun-sea dt {margin-right: 5px;}
.sun-sea dt strong {
    font-weight: 500;
    color:  #fff;
    background: #333;
    border-radius: 2px;
    padding: 1px 5px;
    white-space: nowrap;
}

.weather-week {
    text-align: center;
    margin-top: 10px;
}
.weather-week ul {
    display: flex;
}
.weather-week ul li {
    width: 100%;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 1.4rem;
    line-height: 20px;
}
.weather-week .icon {margin: 4px 0;}
.weather-week .icon img {height: 35px;}
.weather-week .low,
.weather-week .high {
    font-size: 12px;
}
.weather-week .low strong,
.weather-week .high strong {
    font-size: 1.4rem;
}



/* Map */
.map {
    background-color: #ddd;
}
.map .title {
    position: absolute; left: 50%; top: -19px; z-index: 3;
    transform: translateX(-50%);
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    background-color: #333;
    border: 5px solid #fff;
    border-radius: 50px;
    text-align: center;
    padding: 0 10px;
    min-width: 120px;
}

.place-map {
    margin-top: -55px;
    margin-bottom: 3rem;
}
.place-map .map {
    border-radius: 0;
}



/* Search Form */
.select-form {
    display: flex;
    align-items: center;
}
.select-form select {
    width: 100%;
    height: 30px;
    margin-right: 10px;
    font-size: 14px;
}

.select-date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    position: relative;
    margin-right: 15px;
}
.select-date .date {
    font-size: 1.4rem;
}
.select-date .prev,
.select-date .next {
    position: absolute;
    width: 25px;
    height: 25px;
}
.select-date .prev {left: -5px;}
.select-date .next {right: -5px;}
.select-date .prev::before,
.select-date .next::before {
    font-family: 'Material Icons Outlined';
    font-feature-settings: 'liga';
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    position: relative;
    top: -1px;
}
.select-date .prev::before {content: "arrow_back_ios";}
.select-date .next::before {content: "arrow_forward_ios";}

.select-date .prev.off,
.select-date .next.off {
    opacity: 0.3;
}



/* Datepicker */
.date-wrap.icon {flex: 0 0 30px;}
.date-wrap.icon,
.date-wrap.icon img {
    position: static;
    width: 30px;
    height: 30px;
}
.date-wrap.icon input {display: none;}

.ui-state-active,
.ui-widget-header .ui-state-active,
.ui-widget-content .ui-state-active {
    background: #007eb2 !important;
}



/* 상품목록 */
.bottom-bg {
    position: fixed; z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 110px;
    background: #a4e1b8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item-tit {
    text-align: center;
    font-size: 1.6rem;
    margin: 4rem 0 2rem;
}
.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}
.item-list li {
    width: calc(50% - 5px);
    position: relative;
}
.item-list li a {display: block;}

.item-list .img-fit {
    padding-bottom: 100%;
    border-radius: 20px;
}
.item-list .img-fit::after {
    content: "";
    display: block;
    position: absolute; z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: linear-gradient(to top,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%);
}
.item-list .text {
    position: absolute; z-index: 3;
    right: 12px; bottom: 0;
    font-size: 13px;
    color: #fff;
    padding-left: 50px;
    padding-bottom: 4px;
}
.item-list .text .type {font-size: 12px;}
.item-list .tit {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 5px;
}
.item-list button.favorite {
    position: absolute; z-index: 5;
    bottom: 32px;
    left: 5px;
}

.item-list.news li.off {
    opacity: 0.8;
    filter: grayscale(0.5);
}
.item-list.news li.off .img-fit::before,
.item-list.news li.off .img-fit::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 9;
}
.item-list.news li.off .img-fit::before {
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.item-list.news li.off .img-fit::after {
    top: 50%; left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: url("/images/mw/icon/end.png") no-repeat center;
    background-size: 70px;
}

.item-list.news .img-fit {padding-bottom: 125%;}
.item-list.news .text .date {font-size: 12px;}


/* button.favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
} */
button.favorite {
    display: flex;
    align-items: baseline;
}
button.favorite::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;

    font-family: 'Material Icons Outlined';
    font-feature-settings: 'liga';
    content: "favorite_border";
    font-size: 25px;
    color: #393939;
}
button.favorite.active::before {
    content: "favorite";
    color: #ff202b;
}
button.favorite strong {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 14px;
    height: 14px;
    color: #fff;
    background: #333;
    border-radius: 7px;
    font-size: 10px;
    font-weight: 500;
    padding: 0 3px;
    position: relative;
    left: -12px;
    top: -2px;
}



/* 날씨상세 */
.detail-wrapper {
    margin-bottom: 30px;
}

.detail-info dl {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 8px;
}
.detail-info dt {
    flex: 0 0 68px;
    font-weight: 700;
    position: relative;
}
.detail-info dt::after {
    content: ":";
    position: absolute;
    right: 3px;
}

.toggle-btn::before {
    content: "";
    display: block;
    width: 260px;
    height: 20px;
    background: url("/images/mw/icon/btn/toggle.png") no-repeat center top;
    background-size: 260px auto;
}
.toggle-btn.active::before {
    background-position: center -20px;
}
.toggle-btn strong {display: none;}

.thum-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.thum-imgs .img-fit {
    width: calc(50% - 5px);
    padding-bottom: 50%;
    border-radius: 20px;
}


.vod-items {
    padding-top: 10px;
}
.vod-img-slider {
    overflow: visible;
    padding: 0 10px;
}
.vod-img-slider .swiper-slide {
    padding: 0 5px;
}
.vod-img-slider .img-fit {
    padding-bottom: 60%;
    border-radius: 15px;
}
.vod-img-slider .img-fit::before {
    content: "";
    display: block;
    position: absolute; z-index: 2;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.vod-img-slider .img-fit::after {
    content: "";
    display: block;
    position: absolute; z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url("/images/mw/icon/btn/play.png") no-repeat center;
    background-size: 60px;
}

.vod-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.vod-slider video {width: 100%;}

.cctv-video,
.video169 {
    background: gray;
    margin-bottom: 20px;
    position: relative;
}
.cctv-video video,
.video169 video,
.cctv-video canvas {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cctv-video {height: 400px;}
.video169 {height: 200px;}

.title-card .video169 {position: relative; top: 10px;}

.no-video {margin: 2rem 0;}
.no-video img {width: 100%;}



/* 제주소식 */
.news-detail {display: flex;}
.news-detail .img-box {
    flex: 0 0 90px;
    margin-right: 10px;
}
.news-detail .img-box img {border-radius: 5px;}
.news-detail dl {font-size: 14px; line-height: 18px;}
.news-detail dl:not(:last-child) {margin-bottom: 6px;}
.news-detail dl dt {
    flex: 0 0 65px;
    font-weight: 700;
    position: relative;
}
.news-detail dt::after {
    content: ":";
    position: absolute;
    right: 3px;
}

.detail-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.detail-bottom .date {
    font-size: 12px;
    color: #828282;
}

.slider-items{
    margin: 5px 0 0;
}

.imgs-slider {
    overflow: visible;
}
.imgs-slider .swiper-slide,
.imgs-slider .swiper-slide video,
.imgs-slider .swiper-slide .img-fit {
    width: 280px;
    height: 350px;
    border-radius: 15px;
}
.imgs-slider .swiper-slide video {
    object-fit: cover;
}

.imgs-slider.wide .swiper-slide,
.imgs-slider.wide .swiper-slide .img-fit {
    width: 300px;
    height: 210px;
}



/* 추천장소 */
.form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
    margin-top: 10px;
}

.news-detail .state-box {
    flex: 0 0 80px;
    margin-right: 15px;
}

.detail-state-group {margin-top: 1rem;}
.detail-state-group .label-card .txt {background: #fff}


/* Circle progress bar */
.progress-circle,
.progress-circle svg {
    display: block;
    width: 80px;
    height: 80px;
}
.progress-circle .percent {
    position: relative;
}
.progress-circle svg {
    position: relative;
    transform: rotate(-90deg);
}
.progress-circle svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
}

.progress-circle.color2 svg circle:last-of-type {
    stroke: #5176ff;
}
.progress-circle .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    text-align: center;
}

.progress-circle .text .sm {font-size: 12px;}
.progress-circle .text .num {font-size: 10px;}
.progress-circle .text .num strong {font-size: 14px; color: #5176ff;}



/* 댓글 */
.comment-wrapper {
    border-top: 1px solid var(--line-color);
    padding-top: 10px;
}

.comment-tit {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.r-count {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: #333;
    border-radius: 10px;
    padding: 0 3px;
    margin: 0 2px;
}

.comment .top,
.comment-add .top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}
.comment .top .user-fit,
.comment-add .top .user-fit {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.comment .top .info,
.comment-add .top .info {
    width: 100%;
    font-size: 1.6rem;
}

.comment-add .form input,
.comment-add .form textarea,
.comment-add .form button,
.comment-add .form p {
    margin-bottom: 1rem;
}

.comment .text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.comment-list {
    background: #d9f1ff;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: -27px;
}
.comment-list.color2 {
    background: #c8f0d5;
}
.comment-list li:not(:last-child) {
    margin-bottom: 4rem;
}

.comment-list .bt {
    margin-top: 1rem;
}
.comment-list .bt .date {
    font-size: 12px;
    color: #828282;
}

.comment-list .comment-add {
    display: none;
    margin-top: 3rem;
}

.reBtn-wrap {
    text-align: center;
    position: relative;
    margin-top: 3rem;
}
.reBtn-wrap::before {
    content: "";
    display: block;
    position: absolute; z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: #5f6f85;
}
.re-btn {
    position: relative; z-index: 2;
    color: #fff;
    background: #5f6f85;
    border-radius: 5px;
    padding: 0 28px 0 10px;
    font-size: 13px;
    line-height: 22px;
    position: relative;
}
.re-btn::before {
    content: "댓글보기 ";
}
.re-btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url("/images/mw/icon/btn/toggle-re.png") no-repeat;
    background-size: auto 36px;
    background-position: 0 0;
}
.re-btn.active::before {
    content: "댓글접기 ";
}
.re-btn.active::after {
    background-position: 0 -18px;
}


.re-comment {
    display: none;
    padding-top: 3rem;
}
.re-comment li,
.re-comment .comment-add {
    padding-left: 22px;
}
.re-comment li:not(:last-child) {
    margin-bottom: 2rem;
}
.re-comment .comment-add {
    margin-bottom: 2rem;
}
.re-comment .top {position: relative;}
.re-comment .top::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 4px;
    width: 17px;
    height: 17px;
    background: url("/images/mw/icon/reply.png") no-repeat;
    background-size: 17px;
}

.mention {
    text-align: left;
    font-size: 1.4rem;
    color: #0167f1;
}



/* 카카오맵 인포윈도우 디자인 변경  */
.map-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 18px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    background: #fff;
    border: 1px solid #017cff;
    border-radius: 10px;
    padding: 0px 7px;
    white-space: nowrap;
    margin: 0 auto;
}