@charset "UTF-8";



/* Grid Option */
.row:not(table):after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.row:not(table) > * {float: left; width: 100%;}

.row .col-1 {width: 8.33333333%;}
.row .col-2 {width: 16.66666667%;}
.row .col-3 {width: 25%;}
.row .col-4 {width: 33.33333333%;}
.row .col-5 {width: 41.66666667%;}
.row .col-6 {width: 50%;}
.row .col-7 {width: 58.33333333%;}
.row .col-8 {width: 66.66666667%;}
.row .col-9 {width: 75%;}
.row .col-10 {width: 83.33333333%;}
.row .col-11 {width: 91.66666667%;}
.row .col-12 {width: 100%;}



/* Grid */
.grid {
	display: grid;
	grid-gap: 10px;
	/*
	grid-template-columns: repeat(1, auto);
	grid-template-rows: repeat(2, 100px);
	grid-auto-rows: 100px;
	*/
}
.grid.col2 {grid-template-columns: repeat(2, auto);}
.grid.col3 {grid-template-columns: repeat(3, auto);}
.grid.col4 {grid-template-columns: repeat(4, auto);}
.grid.col5 {grid-template-columns: repeat(5, auto);}
.grid.col6 {grid-template-columns: repeat(6, auto);}
.grid.col7 {grid-template-columns: repeat(7, auto);}
.grid.col8 {grid-template-columns: repeat(8, auto);}
.grid.col9 {grid-template-columns: repeat(9, auto);}
/*
.grid > *:nth-child(1) {
	grid-column: 1 / 4;
}
.grid > *:nth-child(3) {
	grid-column: span 2;
}
*/



/* Flex */
.flex {display: flex;}
.flex.justify {justify-content: space-between; align-items: center;}
.flex.justify-around {justify-content: space-around;}
.flex.justify-evenly {justify-content: space-evenly;}
.flex.center {justify-content: center;}
.flex.right {justify-content: flex-end;}
.flex.top {align-items: flex-start;}
.flex.middle {align-items: center;}
.flex.bottom {align-items: flex-end;}
.flex.baseline {align-items: baseline;}

.not-flex {display: block;}

.flex-start {align-items: flex-start;}
.flex-end {align-items: flex-end;}

.flex.wrap {flex-wrap: wrap;}
.flex.wrap.col6 > * {width: calc(16.6% - 8px); margin: 0 10px 10px 0;}
.flex.wrap.col6 > *:nth-child(6n + 0) {margin-right: 0;}

.flex-item-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dl-flex dl {display: flex;}
.dl-flex.middle dl {align-items: center;}
.dl-flex.justify dl {justify-content: space-between;}
.dl-flex .txt-justify {display: flex; justify-content: space-between;}
.dl-flex-justify dl {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.dl-inline dt,
.dl-inline dd {
	display: inline;
}



/* Flex Stack */
.f-stack {display: flex; justify-content: space-between; align-items: center;}
.f-stack.top {align-items: flex-start;}
.f-stack.bottom {align-items: baseline;}
.f-stack.right {justify-content: flex-end;}
.f-stack.stretch {align-items: stretch;}

.f-stack input[type="text"],
.f-stack input[type="password"],
.f-stack input[type="tel"] {
    min-width: 0;
}

.f-stack .form-group {width: 100%;}



/* Horizontal Stack */
.h-stack,
.h-stack > a {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.h-stack > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.h-stack.top > div {vertical-align: top;}
.h-stack.bottom > div {vertical-align: bottom;}
.h-stack.left > div {text-align: left;}
.h-stack.right > div {text-align: right;}

.dl-stack dl {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.dl-stack dt,
.dl-stack dd {
    display: table-cell;
    vertical-align: top;
}







/* Device 768↑ (sm - Small to medium tablet) */
@media only screen and (min-width: 768px) {
    
    /* Type */
	.sm-block {display: block;}
	.sm-hide {display: none;}

	

	/* Flex */
    .sm-flex {display: flex;}
    .sm-flex.justify {justify-content: space-between;}

	.row.sm-flex::after {display: none;}



    /* Grid Option */
	.row .sm-1 {width: 8.33333333%;}
	.row .sm-2 {width: 16.66666667%;}
	.row .sm-3 {width: 25%;}
	.row .sm-4 {width: 33.33333333%;}
	.row .sm-5 {width: 41.66666667%;}
	.row .sm-6 {width: 50%;}
	.row .sm-7 {width: 58.33333333%;}
	.row .sm-8 {width: 66.66666667%;}
	.row .sm-9 {width: 75%;}
	.row .sm-10 {width: 83.33333333%;}
	.row .sm-11 {width: 91.66666667%;}
	.row .sm-12 {width: 100%;}



	/* Align */
	.sm-align-left {text-align: left;}
	.sm-align-center {text-align: center;}
	.sm-align-right {text-align: right;}

}
/* //Device 768↑ */





/* Device 992↑ (md - Large tablet to laptop) */
@media only screen and (min-width: 992px) {

    /* Type */
	.md-block {display: block; width: 100%;}
	.md-hide {display: none;}
	.md-show {display: block !important;}
	.md-inline-show {display: inline !important;}



	/* Grid Option */
	.row .md-1 {width: 8.33333333%;}
	.row .md-2 {width: 16.66666667%;}
	.row .md-3 {width: 25%;}
	.row .md-4 {width: 33.33333333%;}
	.row .md-5 {width: 41.66666667%;}
	.row .md-6 {width: 50%;}
	.row .md-7 {width: 58.33333333%;}
	.row .md-8 {width: 66.66666667%;}
	.row .md-9 {width: 75%;}
	.row .md-10 {width: 83.33333333%;}
	.row .md-11 {width: 91.66666667%;}
	.row .md-12 {width: 100%;}



	/* Margin */
	.md-mt-10 {margin-top: 10px !important;}
	.md-mt-15 {margin-top: 15px !important;}
	.md-mt-20 {margin-top: 20px !important;}
	.md-mt-25 {margin-top: 25px !important;}
	.md-mt-30 {margin-top: 30px !important;}
	.md-mt-35 {margin-top: 35px !important;}
	.md-mt-40 {margin-top: 40px !important;}
	.md-mt-45 {margin-top: 45px !important;}
	.md-mt-50 {margin-top: 50px !important;}
	.md-mt-60 {margin-top: 60px !important;}
	.md-mt-70 {margin-top: 70px !important;}
	.md-mt-80 {margin-top: 80px !important;}
	.md-mt-90 {margin-top: 90px !important;}
	.md-mt-100 {margin-top: 100px !important;}

	.md-mb-10 {margin-bottom: 10px !important;}
	.md-mb-20 {margin-bottom: 20px !important;}
	.md-mb-25 {margin-bottom: 25px !important;}
	.md-mb-30 {margin-bottom: 30px !important;}
	.md-mb-35 {margin-bottom: 35px !important;}
	.md-mb-40 {margin-bottom: 40px !important;}
	.md-mb-45 {margin-bottom: 45px !important;}
	.md-mb-50 {margin-bottom: 50px !important;}
	.md-mb-60 {margin-bottom: 60px !important;}
	.md-mb-70 {margin-bottom: 70px !important;}
	.md-mb-80 {margin-bottom: 80px !important;}
	.md-mb-90 {margin-bottom: 90px !important;}
	.md-mb-100 {margin-bottom: 100px !important;}



	/* Padding */
	.md-pa-0 {padding: 0 !important;}
	.md-pa-2 {padding: 2px !important;}
	.md-pa-4 {padding: 4px !important;}
	.md-pa-5 {padding: 5px !important;}
	.md-pa-6 {padding: 6px !important;}
	.md-pa-8 {padding: 8px !important;}
	.md-pa-10 {padding: 10px !important;}
	.md-pa-15 {padding: 15px !important;}
	.md-pa-20 {padding: 20px !important;}
	.md-pa-30 {padding: 30px !important;}
	.md-pa-40 {padding: 40px !important;}
	.md-pa-50 {padding: 50px !important;}

	.md-px-0 {padding-left: 0px !important; padding-right: 0px !important;}
	.md-px-2 {padding-left: 2px !important; padding-right: 2px !important;}
	.md-px-4 {padding-left: 4px !important; padding-right: 4px !important;}
	.md-px-5 {padding-left: 5px !important; padding-right: 5px !important;}
	.md-px-6 {padding-left: 6px !important; padding-right: 6px !important;}
	.md-px-8 {padding-left: 8px !important; padding-right: 8px !important;}
	.md-px-10 {padding-left: 10px !important; padding-right: 10px !important;}
	.md-px-15 {padding-left: 15px !important; padding-right: 15px !important;}
	.md-px-20 {padding-left: 20px !important; padding-right: 20px !important;}
	.md-px-25 {padding-left: 25px !important; padding-right: 25px !important;}
	.md-px-30 {padding-left: 30px !important; padding-right: 30px !important;}
	.md-px-35 {padding-left: 35px !important; padding-right: 35px !important;}
	.md-px-40 {padding-left: 40px !important; padding-right: 40px !important;}
	.md-px-45 {padding-left: 45px !important; padding-right: 45px !important;}
	.md-px-50 {padding-left: 50px !important; padding-right: 50px !important;}



	/* Size */
	.md-size15 {font-size: 0.937rem !important;}
	.md-size16 {font-size: 1rem !important;}
	.md-size18 {font-size: 1.125rem !important;}
	.md-size20 {font-size: 1.25rem !important;}
	.md-size22 {font-size: 1.375rem !important;}
	.md-size24 {font-size: 1.5rem !important;}
	.md-size26 {font-size: 1.625rem !important;}
	.md-size28 {font-size: 1.75rem !important;}
	.md-size30 {font-size: 1.875rem !important;}



	/* Align */
	.md-text-left {text-align: left !important;}
	.md-text-center {text-align: center !important;}
	.md-text-right {text-align: right !important;}
	.md-text-justify {text-align: justify !important;}



	ul.bullet.md-size15 li,
    ul.hyphen.md-size15 li,
    ul.decimal.md-size15 li,
    ol.decimal.md-size15 li {
        font-size: 0.937rem !important;
        line-height: 1.375rem !important;
    }
	ul.bullet.md-size15 > li::before {top: 0.625rem !important;}

}
/* //Device 992↑ */





/* Device 1280↑ (lg - Desktop) */
@media only screen and (min-width: 1280px) {

	/* Type */
	.lg-block,
	.lg-show {display: block !important;}
	.lg-hide {display: none !important;}



    /* Grid Option */
	.row .lg-1 {width: 8.33333333%;}
	.row .lg-2 {width: 16.66666667%;}
	.row .lg-3 {width: 25%;}
	.row .lg-4 {width: 33.33333333%;}
	.row .lg-5 {width: 41.66666667%;}
	.row .lg-6 {width: 50%;}
	.row .lg-7 {width: 58.33333333%;}
	.row .lg-8 {width: 66.66666667%;}
	.row .lg-9 {width: 75%;}
	.row .lg-10 {width: 83.33333333%;}
	.row .lg-11 {width: 91.66666667%;}
	.row .lg-12 {width: 100%;}



	/* Size */
	.lg-size15 {font-size: 0.937rem !important;}
	.lg-size16 {font-size: 1rem !important;}
	.lg-size18 {font-size: 1.125rem !important;}
	.lg-size20 {font-size: 1.25rem !important;}
	.lg-size22 {font-size: 1.375rem !important;}
	.lg-size24 {font-size: 1.5rem !important;}
	.lg-size26 {font-size: 1.625rem !important;}
	.lg-size28 {font-size: 1.75rem !important;}
	.lg-size30 {font-size: 1.875rem !important;}



	/* Width PX */
	.lg-w10 {min-width: 0 !important; width: 10px !important;}
	.lg-w20 {min-width: 0 !important; width: 20px !important;}
	.lg-w30 {min-width: 0 !important; width: 30px !important;}
	.lg-w40 {min-width: 0 !important; width: 40px !important;}
	.lg-w45 {min-width: 0 !important; width: 45px !important;}
	.lg-w50 {min-width: 0 !important; width: 50px !important;}
	.lg-w60 {min-width: 0 !important; width: 60px !important;}
	.lg-w70 {min-width: 0 !important; width: 70px !important;}
	.lg-w80 {min-width: 0 !important; width: 80px !important;}
	.lg-w90 {min-width: 0 !important; width: 90px !important;}
	.lg-w95 {min-width: 0 !important; width: 95px !important;}
	.lg-w96 {min-width: 0 !important; width: 96px !important;}
	.lg-w98 {min-width: 0 !important; width: 98px !important;}

	.lg-w100 {min-width: 0 !important; width: 100px !important;}
	.lg-w105 {min-width: 0 !important; width: 105px !important;}
	.lg-w110 {min-width: 0 !important; width: 110px !important;}
	.lg-w120 {min-width: 0 !important; width: 120px !important;}
	.lg-w125 {min-width: 0 !important; width: 125px !important;}
	.lg-w130 {min-width: 0 !important; width: 130px !important;}
	.lg-w140 {min-width: 0 !important; width: 140px !important;}
	.lg-w145 {min-width: 0 !important; width: 145px !important;}
	.lg-w146 {min-width: 0 !important; width: 146px !important;}
	.lg-w147 {min-width: 0 !important; width: 147px !important;}
	.lg-w148 {min-width: 0 !important; width: 148px !important;}
	.lg-w149 {min-width: 0 !important; width: 149px !important;}
	.lg-w150 {min-width: 0 !important; width: 150px !important;}
	.lg-w160 {min-width: 0 !important; width: 160px !important;}
	.lg-w170 {min-width: 0 !important; width: 170px !important;}
	.lg-w175 {min-width: 0 !important; width: 175px !important;}
	.lg-w180 {min-width: 0 !important; width: 180px !important;}
	.lg-w190 {min-width: 0 !important; width: 190px !important;}

	.lg-w200 {min-width: 0 !important; width: 200px !important;}
	.lg-w210 {min-width: 0 !important; width: 210px !important;}
	.lg-w215 {min-width: 0 !important; width: 215px !important;}
	.lg-w220 {min-width: 0 !important; width: 220px !important;}
	.lg-w225 {min-width: 0 !important; width: 225px !important;}
	.lg-w230 {min-width: 0 !important; width: 230px !important;}
	.lg-w240 {min-width: 0 !important; width: 240px !important;}
	.lg-w250 {min-width: 0 !important; width: 250px !important;}
	.lg-w260 {min-width: 0 !important; width: 260px !important;}
	.lg-w270 {min-width: 0 !important; width: 270px !important;}
	.lg-w280 {min-width: 0 !important; width: 280px !important;}
	.lg-w290 {min-width: 0 !important; width: 290px !important;}

	.lg-w300 {min-width: 0 !important; width: 300px !important;}
	.lg-w310 {min-width: 0 !important; width: 310px !important;}
	.lg-w320 {min-width: 0 !important; width: 320px !important;}
	.lg-w330 {min-width: 0 !important; width: 330px !important;}
	.lg-w340 {min-width: 0 !important; width: 340px !important;}
	.lg-w350 {min-width: 0 !important; width: 350px !important;}
	.lg-w360 {min-width: 0 !important; width: 360px !important;}
	.lg-w370 {min-width: 0 !important; width: 370px !important;}
	.lg-w380 {min-width: 0 !important; width: 380px !important;}
	.lg-w390 {min-width: 0 !important; width: 390px !important;}

	.lg-w400 {min-width: 0 !important; width: 400px !important;}
	.lg-w450 {min-width: 0 !important; width: 450px !important;}
	.lg-w500 {min-width: 0 !important; width: 500px !important;}
	.lg-w550 {min-width: 0 !important; width: 550px !important;}
	.lg-w600 {min-width: 0 !important; width: 600px !important;}
	.lg-w650 {min-width: 0 !important; width: 650px !important;}
	.lg-w700 {min-width: 0 !important; width: 700px !important;}
	.lg-w750 {min-width: 0 !important; width: 750px !important;}
	.lg-w800 {min-width: 0 !important; width: 800px !important;}
	.lg-w850 {min-width: 0 !important; width: 850px !important;}
	.lg-w900 {min-width: 0 !important; width: 900px !important;}
	.lg-w950 {min-width: 0 !important; width: 950px !important;}

	.lg-w1000 {min-width: 0 !important; width: 1000px !important;}
	.lg-w1100 {min-width: 0 !important; width: 1100px !important;}
	.lg-w1200 {min-width: 0 !important; width: 1200px !important;}

}
/* //Device 1280↑ */





/* Device 1400↑ */
@media only screen and (min-width: 1400px) {
    
    

}





/* Device 1600↑ */
@media only screen and (min-width: 1600px) {

}
/* //Device 1600↑ */





/* Device 1904↑ (xl - 4k and ultra-wide) */
@media only screen and (min-width: 1904px) {

    

}
/* //Device 1904↑ */











/* Device 768↓ (Mobile) */
@media only screen and (max-width: 767px) {
    
    /* Type */
	.xs-block {display: block;}
	.xs-hide {display: none !important;}

	.mw-br {display: block;}



	/* Grid Option */
	.row > .col-12:not(:last-child) {margin-bottom: 0.937rem;}


	/* Width Percent */
	.xs-wp10 {width: 10% !important; min-width: 0 !important;}
	.xs-wp20 {width: 20% !important; min-width: 0 !important;}
	.xs-wp25 {width: 25% !important; min-width: 0 !important;}
	.xs-wp30 {width: 30% !important; min-width: 0 !important;}
	.xs-wp33 {width: 33% !important; min-width: 0 !important;}
	.xs-wp34 {width: 34% !important; min-width: 0 !important;}
	.xs-wp35 {width: 35% !important; min-width: 0 !important;}
	.xs-wp40 {width: 40% !important; min-width: 0 !important;}
	.xs-wp50 {width: 50% !important; min-width: 0 !important;}
	.xs-wp60 {width: 60% !important; min-width: 0 !important;}
	.xs-wp70 {width: 70% !important; min-width: 0 !important;}
	.xs-wp75 {width: 75% !important; min-width: 0 !important;}
	.xs-wp80 {width: 80% !important; min-width: 0 !important;}
	.xs-wp90 {width: 90% !important; min-width: 0 !important;}
	.xs-wp100 {width: 100% !important; min-width: 0 !important; max-width: none !important;}


	
	/* Min Width */
	.xs-min-w70 {min-width: 70px;}
	.xs-min-w75 {min-width: 75px;}
	.xs-min-w80 {min-width: 80px;}
	.xs-min-w85 {min-width: 85px;}
	.xs-min-w90 {min-width: 90px;}
	.xs-min-w95 {min-width: 95px;}

	.xs-min-w100 {min-width: 100px;}
	.xs-min-w150 {min-width: 150px;}
	.xs-min-w200 {min-width: 200px;}
	.xs-min-w300 {min-width: 300px;}
	.xs-min-w400 {min-width: 400px;}
	.xs-min-w500 {min-width: 500px;}
	.xs-min-w600 {min-width: 600px;}
	.xs-min-w700 {min-width: 700px;}
	.xs-min-w800 {min-width: 800px;}
	.xs-min-w900 {min-width: 900px;}

	.xs-min-w1000 {min-width: 1000px;}
	.xs-min-w1100 {min-width: 1100px;}
	.xs-min-w1200 {min-width: 1200px;}

}
/* //Device 768↓ */
