@charset "UTF-8";



.intro-splash {
	position: fixed; z-index: 2;
	top: 0; right: 0; bottom: 0; left: 0;
	max-width: 800px;
	margin: auto;
}
.intro-splash video {
	position: absolute; z-index: 3;
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-width: 100%;
}