@charset "UTF-8";



.main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url("/") no-repeat center;
	background-size: cover;
}
.main-wrapper nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
	width: 100%;
	max-width: 250px;
}
.main-wrapper nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(50% - 5px);
    max-width: 120px;
    height: 120px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #01b0f1;
    border-radius: 30px;
    font-size: 2rem;
    line-height: 2.1rem;
}
.main-wrapper nav a .ico {height: 20px;}