@charset "UTF-8";



/* 로그인 */
.user-fit.large {
    width: 90px;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.login,
.member {
    max-width: 550px;
    margin: 0 auto;
}

.login
.login,
.member.out {
    padding: 0 25px;
}
.login .form .group {
    margin-bottom: 1.0rem;
    position: relative;
}
.login .form input {
    width: 100%;
}
.login .form .btn {
    font-size: 14px;
    width: 130px;
    line-height: 40px;
}
.login .btn-group {margin-top: 5rem;}

.center-text-link {
    text-align: center;
    margin: 30px 0;
}
.center-text-link a {
    font-size: 1.3rem;
}
.center-text-link a:not(:last-child) {
    margin-right: 40px;
}
.center-text-link.underline a {text-decoration: underline;}



/* 회원가입 */
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="search"],
.form-group input[type="date"],
.form-group select,
.form-group .text-box,
.form-group .text-box-not {
    height: 4rem;
}
.form-group .btn {
    font-weight: 500;
    line-height: 3.8rem;
    border-radius: var(--input-radius);
}

.form-group.sm select,
.form-group.sm input,
.form-group.sm .text-box,
.form-group.sm .text-box-not {
    font-size: 1.4rem;
    height: 30px;
}

.form-group.sm .date-wrap img.ui-datepicker-trigger {
    top: 2px;
    right: 2px;
    width: auto;
    height: 25px;
}

.certify {
    position: relative;
}
.certify::before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 20px;
    background: url("/images/mw/icon/time.png") no-repeat;
    background-size: auto 20px;
}
.certify input {
    padding-left: 85px;
    border-color: #ef2e64;
    border-radius: 9px;
}
.certify .time {
    position: absolute;
    left: 38px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
.certify-wrap .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.certify-wrap .info .txt {
    font-size: 13px;
    line-height: 2rem;
    margin-right: 10px;
}
.certify-wrap .info .btn {
    flex: 0 0 75px;
    min-width: 0;
    height: 4rem;
    line-height: 16px !important;
}

.check-group .lb-ch {position: relative}
.check-group .lb-ch:not(:last-child) {margin-bottom: 10px}
.check-group .text-link {
    position: absolute; z-index: 2;
    right: 0;
    font-size: 12px;
    color: #333 !important;
}



/* 비밀번호 찾기 */
.find-text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 3rem;
}

.center-icon {text-align: center; margin-bottom: 5rem;}
.center-icon img {max-height: 50px;}

.text-form {text-align: center; margin-top: 4rem;}
.text-form .txt {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #9a9a9a;
}
.text-form .txt.lg {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #333;
    margin-bottom: 1.5rem;
}



/* 회원정보 변경 */
.profile {
    text-align: center;
    margin-bottom: 4rem;
}
.profile .user-fit {
    text-align: left;
    margin-bottom: 10px;
}

.text-btn-file [type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}



/* 회원탈퇴 */
.customer-service {
    text-align: center;
    margin-top: 2.5rem;
}
.customer-service .tit {
    font-size: 1.4rem;
}
.customer-service .tel {
    font-size: 1.6rem;
}
.customer-service .ico {
    height: 60px;
    margin-top: 1rem;
}

.lb-ch-block-group .lb-ch {
    display: block;
}
.lb-ch-block-group .lb-ch:not(:last-child) {
    margin-bottom: 3rem;
}
.lb-ch-block-group .lb-ch .txt {
    font-size: 1.5rem;
}
.lb-ch-block-group .lb-ch textarea {
    margin-top: 1.5rem;
}

.end-text {
    text-align: center;
    margin-top: 5rem;
}
.end-text .ico {
    height: 9rem;
    margin-bottom: 3rem;
}
.end-text p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}
.end-text .lg {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 4rem;
}