@charset "UTF-8";



/* 찜한장소 */
.tab-menu {
    display: flex;
    justify-content: space-between;
    gap: 0 6px;
    margin-bottom: 4rem;
}
.tab-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    background: #e0e7ed;
    border-radius: 1.5rem;
}
.tab-menu a.active {
    background: #1f1f1f;
    color: #fff;
}



/* 주문조회 목록 */
.order-list li {
    margin-bottom: 3rem;
}
.order-list li a {
    display: flex;
    width: 100%;
}
.order-list .img-fit {
    flex: 0 0 120px;
    width: 120px;
    height: 140px;
    margin-right: 1rem;
    border-radius: 1rem;
}
.order-list .text {width: 100%}
.order-list .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}
.order-list .top .l {
    font-size: 1.4rem;
}

.mypage .color1 {color: #0cba83;}
.mypage .color2 {color: #303ef8;}
.mypage .color3 {color: #333333;}

.order-list .top .l .date {
    font-size: 12px;
}

span[class*="d-state"] {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 55px;
    line-height: 25px;
    font-size: 10px;
    color: #fff;
    background: #f89f05;
    padding: 0 2px;
}
span.d-state2 {background: #249d7c;}
span.d-state3 {background: #5e57fb;}

.dl-flex span[class*="d-state"] {
    line-height: 15px;
}

.order-list .info {
    margin-bottom: 1.5rem;
}
.order-list .info * {
    margin-bottom: 0.5rem;
}
.order-list .info .tit {
    font-size: 1.8rem;
    font-weight: 500;
}
.order-list .info .sm-tit,
.order-list .info .txt {
    font-size: 1.4rem;
}
.order-list .info .txt {
    position: relative;
    padding-left: 8px;
}
.order-list .info .txt::before {
    content: "";
    display: block;
    position: absolute; left: 0; top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
}
.order-list .bottom {
    text-align: right;
    position: relative; z-index: 2;
    top: -5px;
}
.order-list .bottom .price {font-size: 1.4rem}
.order-list .bottom .price strong {
    font-size: 1.8rem;
}
.order-list .bottom button {margin-left: 5px}

.mypage .price strong {font-weight: 500; color: #ee2d63;}



/* 주문조회 상세 */
.order-detail {
    background: #bcf0e0;
    border-radius: 1rem;
    padding: 10px 1px;
}
.order-detail .top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}
.order-detail.bg2 {background: #d3d6fa;}
.order-detail.bg2 .title-card.order .title {border-color: #d3d6fa;}
.order-detail.bg3 {background: #e6e6e6;}
.order-detail.bg3 .title-card.order .title {border-color: #e6e6e6;}
.order-detail.bg3 .title-card.order .dl-flex.st1 {filter: grayscale(1);}

.title-card.order {
    background: #fff;
    padding: 2.8rem 1.8rem 1.5rem;
    min-height: 0;
}
.title-card.order:not(:last-child) {
    margin-bottom: 2.5rem;
}
.title-card.order .box {
    min-height: 50px;
    padding: 0;
}
.title-card.order .title {
    top: -15px;
    font-size: 18px;
    line-height: 25px;
    background: #0e79cb;
    border: 3px solid #bcf0e0;
}

.total-wrap {
    border-top: 2px solid #c5c5c5;
    margin-top: 8px;
    padding-top: 16px;
}

.dl-flex.st1 dl dt,
.dl-flex.st1 dl dd {
    font-size: 1.4rem;
    line-height: 2rem;
}

.order-info .bottom {
    margin-top: 1.5rem;
}
.order-info .bottom .validity {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.order-info .purchaser {
    display: flex;
}
.order-info .purchaser .l {margin-right: 1rem;}
.order-info .purchaser .l .group {word-break: break-all;}
.order-info .purchaser .l .group:not(:last-child) {margin-bottom: 1.5rem;}
.order-info .purchaser .r {margin-left: auto;}
.order-info .purchaser .r {flex: 0 0 120px;}
.order-info .purchaser .r img {width: 100%;}
.order-info .purchaser .tit {
    text-align: center;
    font-size: 1.6rem;
}
.order-info .purchaser p {
    font-size: 1.4rem;
}
.order-info .purchaser p .name {font-size: 1.6rem;}

.order-info .info {margin: 1.5rem 0;}
.order-info .info * {margin-bottom: 5px;}
.order-info .info .tit {
    font-size: 1.8rem;
    font-weight: 500;
}
.order-info .info p {font-size: 1.4rem;}
.order-info .info p.txt {
    position: relative;
    padding-left: 8px;
}
.order-info .info p.txt::before {
    content: "";
    display: block;
    position: absolute; left: 0; top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
}

.warning-txt {
    font-size: 1.4rem;
    color: #f03d6e;
    position: relative;
    padding-left: 8px;
}
.warning-txt::before {
    content: "";
    display: block;
    position: absolute; left: 0; top: 3px;
    width: 4px;
    height: 4px;
    background: #f03d6e;
    border-radius: 50%;
}
.warning-txt:not(:last-child) {margin-bottom: 5px;}